html {
    font-family: sans-serif;
    color: white;
  }

body {
  background-color: #294d61;
  justify-content: center; 
  align-items: center;
  font-family: 'rainyhearts';
  text-align: center;
  font-size: 27px; 
}

@font-face {
  font-family: 'crang';
  src: url('acvititie-04/fonts/Crang.ttf') format('truetype');
}

@font-face {
  font-family:'rainyhearts';

  src: url('acvititie-04/fonts/rainyhearts.ttf') format('opentype');
}

header { 
  background-color: #072e33;
  padding: 25px;
}

#main-title {
  text-align: center;
  font-size: 75px;
  font-family: crang, sans-serif;
}

.about-game {
  text-align: center;
  margin:10px;
}

#about-title { 
  font-size: 37px;  
  margin-top: 184px;
}
  
.form { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 15px; 
}
  
.form input[type="number"] {
  margin-left: 10px;  
  width: 150px;
  border-radius: 50px;
}

.form input[type="submit"] {
  margin-left: 10px;
  border-radius: 50px;
  background-color: #0c7075;
}
.lastResult {
  color: white;
  padding: 3px;
}


Button { 
  margin-left: 10px;
  border-radius: 50px;
  background-color: #0c7075;
}

footer { 
  background-color: #072e33;
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  padding: 25px;
}