<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp - Spotify2</title>
    <link rel="stylesheet" href="/stylesheets/login/signup.css">
    <script src="https://kit.fontawesome.com/e25f884761.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form action="/login/signup" method="POST">  
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">

                <label for="password">Password:</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                </div>
                <button class="btn-field" type="submit">Sign Up</button>
            </form>
        </div>
    </div>

    <script src="/scripts/signup.js"></script>
</body>
</html>
