
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/login/signin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/e25f884761.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Sign In</h1>
            <form action="/login/signin/login/password" method="POST">  
                <div class="input-user">
                    <i class="bi bi-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                </div>

                <div class="input-user">
                    <i class="bi bi-key"></i>
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                </div>
                
                <button class="btn-field"type="submit">Sign In</button>
            </form>
                    
            <p>Losted Password? <a href="#">Click Here</a></p> 
        </div>
    </div>

    <script src="/scripts/script.js"></script>
</body>
</html>
