  <header>
    <img src="assets\loginImages\logo-sem-nome.svg" alt="Logo" id="main-logo" />
    <nav>
      <a href="/">Inicio</a>
      <a href="/addMusic">Adicionar Música</a>
    </nav>
  
    <!-- Se o usuário estiver autenticado, exibe o botão de logout, caso contrário, exiba o botão de login -->
    <% if (isAuthenticated) { %>
      <a href="/profile" class="profile-button" id="profileButton">
          <div class="profile-image"></div>
          <div class="profile-name"><%= user.username %></div>
      </a>
    <% } else { %> 
      <a href="/login" class="profile-button" id="profileButton">
          <div class="profile-image-generic"></div>
          <div class="profile-name">Sign In</div>
      </a>
  <% } %>
  

  </header>