<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Música</title>
</head>
<body>
    <h1>Adicionar Nova Música</h1>
    <form action="/addMusic/addMusic/enviar" method="POST">
        <label for="name">Nome da Música:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="artist">Artista:</label><br>
        <input type="text" id="artist" name="artist"><br><br>

        <label for="cover">URL da Capa:</label><br>
        <input type="text" id="cover" name="cover"><br><br>

        <label for="src">URL da Música:</label><br>
        <input type="text" id="src" name="src"><br><br>

        <input type="submit" value="Adicionar Música">
    </form>
</body>
</html>
