html {
    font-family: sans-serif;
  }

body {
  background-color: #294d61;
  justify-content: center; 
  align-items: center;
}

@font-face { 
  font-family: RMT;
  src: url('fonts/RMT.ttf') format('truetype');
}
#main-title {
  text-align: center;
  font-size: 125px;
  font-family: RMT, sans-serif;
}

header { 
  background-color: #072e33;
}

.about-game {

}

#rules-title { 
  font-size: 37px;;  
}
  

  
.form { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 15px; 
}
  
.form input[type="number"] {
  margin-left: 10px;  
  width: 150px;
  border-radius: 50px;
}

.form input[type="submit"] {
  margin-left: 10px;
  border-radius: 50px;
  background-color: #0c7075;
}
.lastResult {
  color: white;
  padding: 3px;
}


Button { 
  margin-left: 10px;
  border-radius: 50px;
  background-color: #0c7075;
}

footer { 
  background-color: #072e33;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}