html {
    font-family: sans-serif;

  }

body {
  background-color: #294d61;
  justify-content: center; 
  align-items: center;
}
 
#main-title {
  
}

@font-face { 
  font-family: RMT;
  src: url('/fonts/RMT.ttf') format('truetype');
}

header {
  font-size: 125px;
  font-family: RMT, sans-serif;
  background-color: #072e33;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: row;
}
  
.paragraph { 
  text-align: center;
  font-size: 25px;
  margin-top: 150px;  
}
  
.form { 
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 15px; 
}
  
.form input[type="number"] {
  margin-left: 10px;  
  width: 250px;
}

.lastResult {
  color: white;
  padding: 3px;
}