
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Spotify2</title>
    <link rel="stylesheet" href="/stylesheets/login/signinAndSignup.css">
    <script src="https://kit.fontawesome.com/e25f884761.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign In</h1>
            <form>  
                <div class="input-group">
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-key"></i>
                        <input type="text" placeholder="Password">
                    </div>
                    <p>Losted Password? <a href="#">Click Here</a></p>
                </div>
                <div class="btn-field">
                    <a href="/mp3" class="signinBtn"> <h4>Sign In </h4></a>
                </div>
            </form>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
</body>
</html>
